.info_card {
    position: absolute;
    height: 100%;
    width: 60%;
    overflow: hidden;
}
.info_card_img {
    width: 100%;
    height: 100%;
    margin-top: 1em;
    border-radius: 50%;
    object-fit: cover;
}
@media screen and (min-width: 400px) {
    .info_card {
        width: 80%;
        text-align: center;
    }
    .info_card_img {
        margin-top: 2em;
        width: 80%;
    }
}
@media screen and (min-width: 600px) {
    .info_card {
        width: 70%;
    }
    .info_card_img {
        width: 70%;
    }
}
@media screen and (min-width: 800px) {
    .info_card {
        width: 60%;
    }
    .info_card_img {
        width: 60%;
    }
}
@media screen and (min-width: 1000px) {
    .info_card {
        width: 50%;
    }
    .info_card_img {
        width: 60%;
    }
}
@media screen and (min-width: 1200px) {
    .info_card {
        padding-top: 3em;
        width: 40%;
    }
}