.projects {
    width: 100%;
    padding: 2em 1em 1em 2em;
    background: url("../../assets/images/projects_bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.projects h1 {
    margin-bottom: 1em;
    text-align: center;
    color: black;
}
.projects h2 {
    margin-bottom: 0.8em;
    text-align: center;
    color: black;
}
.portfolio_img {  
    width: 100%;
}
.card {
    width: 500px;
    cursor: pointer;
}
.card:not(:last-child) {
    margin-bottom: 1em;
}
.projects_container {
    display: flex;
    gap: 1em;
    justify-content: center;
}