.projects {
    width: 100%;
    padding: 2em 1em 1em 2em;
    background: url("../../assets/images/projects_bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.web_dev, .data_analytics {
    width: 100%;
    height: 600px;
    margin-bottom: 1em;
}
.web_dev h2, .data_analytics h2 {
    margin-bottom: 0.3em;
    padding-bottom: 0;
}
.projects h1 {
    margin-bottom: 0.5em;
    text-align: center;
    color: black;
}
.projects h2 {
    text-align: center;
    color: black;
}
.portfolio_img {  
    width: 100%;
}
.card {
    width: 100%;
    border: 2px solid red;
    cursor: pointer;
}
.icon {
    width: 40px;
}
@media screen and (min-width: 500px) {
    .projects_container {
        display: flex;
        gap: 1em;
        justify-content: center;
    }   
    .projects h1 {
        margin-bottom: 1em;
        text-align: center;
        color: black;
    }
    .projects h2 {
        margin-bottom: 0.8em;
        text-align: center;
        color: black;
    }
    .card:not(:last-child) {
       margin-bottom: 1em;
    }
}